{{>header}}
<form method="POST">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Amount</label>
  <input type="text" class="form-control" name="amount" placeholder="">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Data</label>
  <input type="password" class="form-control"  name="date" placeholder="">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Location</label>
<textarea name="location" cols="30" rows="10" style="resize: none;"></textarea>
</div>
<button class="btn btn-primary" type="submit">add</button>
</form>
{{>footer}}